[contenteditable] {
    outline: 0;
}

[data-slate-zero-width]:after {
    content: "Enter somthing or @ or / ....";
    color: #999999;
    display: inline-flex;
    cursor: text;
}

[data-slate-zero-width] {
    content: "Enter somthing or @ or / ....";
    color: #999999;
    display: inline-flex;
}
